@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.dark body{
  background: #0b0c0f;
  color: white;
  transition: 0.5s ;
}
.header-img{
  width: 70vw;
  height: 700px;
  margin: 0 auto;
}